# Midterm Exam Big Data
- Name : Muhammad Nevin
- NRP : 05111940000079

# CRISP-DM Methodology:
1. Business Understanding
2. Data Understanding
3. Data Preparation
4. Modeling
5. Evaluation
6. Deployment

## 1. Business Understanding

You can add description in here by using your own words.
- Find the frequent itemset based on the watchlist data.
- Build the recommendation movie systems.

## 2. Data Understanding

![image.png]()

In [1]:
# Install Apache Spark
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [2]:
# Import required libraries

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.ml.fpm import FPGrowth

In [3]:
# Create Spark Session/Context
spark = SparkSession.builder \
    .master("local") \
    .appName("Frequent Itemset") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [4]:
# Import the data from CSV
movies = spark.read.option("header", True).csv("movies.csv")
movies.show()

+-------+--------------------+
|movieId|               title|
+-------+--------------------+
|      1|    Toy Story (1995)|
|      2|      Jumanji (1995)|
|      3|Grumpier Old Men ...|
|      4|Waiting to Exhale...|
|      5|Father of the Bri...|
|      6|         Heat (1995)|
|      7|      Sabrina (1995)|
|      8| Tom and Huck (1995)|
|      9| Sudden Death (1995)|
|     10|    GoldenEye (1995)|
|     11|American Presiden...|
|     12|Dracula: Dead and...|
|     13|        Balto (1995)|
|     14|        Nixon (1995)|
|     15|Cutthroat Island ...|
|     16|       Casino (1995)|
|     17|Sense and Sensibi...|
|     18|   Four Rooms (1995)|
|     19|Ace Ventura: When...|
|     20|  Money Train (1995)|
+-------+--------------------+
only showing top 20 rows

In [5]:
# Import the data from CSV
watchlist = spark.read.option("header", True).csv("watchlist.csv")
watchlist.show()

+------+-------+
|userId|movieId|
+------+-------+
|     1|      1|
|     1|      3|
|     1|      6|
|     1|     47|
|     1|     50|
|     1|     70|
|     1|    101|
|     1|    110|
|     1|    151|
|     1|    157|
|     1|    163|
|     1|    216|
|     1|    223|
|     1|    231|
|     1|    235|
|     1|    260|
|     1|    296|
|     1|    316|
|     1|    333|
|     1|    349|
+------+-------+
only showing top 20 rows

## 3. Data Preparation

We need to prepare the data into combination of ["id", "items"] = [1, [a, b, c]]

In [6]:
# Select only the first two column
watchlist_raw = watchlist.select("userId", "movieId")
watchlist_raw.show()

+------+-------+
|userId|movieId|
+------+-------+
|     1|      1|
|     1|      3|
|     1|      6|
|     1|     47|
|     1|     50|
|     1|     70|
|     1|    101|
|     1|    110|
|     1|    151|
|     1|    157|
|     1|    163|
|     1|    216|
|     1|    223|
|     1|    231|
|     1|    235|
|     1|    260|
|     1|    296|
|     1|    316|
|     1|    333|
|     1|    349|
+------+-------+
only showing top 20 rows

In [7]:
# Before dropping the duplicates
watchlist_raw.count()

81763

In [8]:
# Remove the duplicates
watchlist_raw = watchlist_raw.dropDuplicates(["userId", "movieId"])
watchlist_raw.count()

81763

There is no duplicate data

In [9]:
# Convert into this format: ["id", "items"] = [1, [a, b, c]]
# You can use groupBy, agg, and collect_list methods

watchlist_input = watchlist_raw.groupBy("userId").agg(collect_list('movieId').alias('movies'))
watchlist_input.show()

+------+--------------------+
|userId|              movies|
+------+--------------------+
|     1|[919, 2366, 3033,...|
|    10|[95167, 7458, 517...|
|   100|[3098, 2423, 2100...|
|   101|[2722, 2600, 2541...|
|   102|[377, 588, 349, 2...|
|   103|[410, 3988, 555, ...|
|   104|[1253, 6711, 1408...|
|   105|[5026, 5373, 8641...|
|   106|[106489, 40815, 8...|
|   107|[292, 11, 410, 31...|
|   108|[3751, 4144, 5349...|
|   109|[39, 266, 778, 10...|
|    11|[1552, 733, 1840,...|
|   110|[1198, 6016, 1089...|
|   111|[87485, 170401, 2...|
|   112|[288, 70286, 454,...|
|   113|[2752, 1829, 838,...|
|   114|[54001, 79702, 86...|
|   115|[480, 3037, 1566,...|
|   116|[339, 350, 1380, ...|
+------+--------------------+
only showing top 20 rows

## 4. Modeling

In [10]:
def fpGrowthModel(ms, mc):
  # 1. Create the instance
  fpGrowth = FPGrowth(itemsCol="movies", minSupport=ms, minConfidence=mc)

  # 2. Train/fit the data training to become a model
  model = fpGrowth.fit(watchlist_input)
  
  return model

In [11]:
# fpGrowth with minSupport=0.1, minConfidence=0.1
m1 = fpGrowthModel(0.1, 0.1)

# fpGrowth with minSupport=0.5, minConfidence=0.5
m2 = fpGrowthModel(0.5, 0.5)

# fpGrowth with minSupport=0.25, minConfidence=0.25
m3 = fpGrowthModel(0.25, 0.25)

## 5. Evaluation

We take a look into several metrics like min_support, confidence, lift, antencedence and consequent

In [12]:
def showResult(model) :
  # Frequent Itemset
  model.freqItemsets.show()
  # Display generated association rules.
  model.associationRules.show()

In [13]:
# Display Frequent Itemset and generated association rules.
showResult(m1)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+------------------+----+
|             items|freq|
+------------------+----+
|             [231]|  88|
|        [231, 296]|  68|
|        [231, 318]|  63|
|        [231, 356]|  72|
|            [1610]|  85|
|       [1610, 589]|  65|
|      [1610, 1196]|  70|
| [1610, 1196, 260]|  62|
|       [1610, 260]|  65|
|      [1610, 2571]|  72|
|      [1610, 1210]|  66|
|[1610, 1210, 1196]|  62|
|       [1610, 356]|  63|
|            [3751]|  67|
|            [2542]|  65|
|            [1258]| 102|
|      [1258, 2762]|  62|
|      [1258, 1196]|  70|
| [1258, 1196, 260]|  63|
| [1258, 1196, 593]|  61|
+------------------+----+
only showing top 20 rows

+--------------------+----------+-------------------+------------------+-------------------+
|          antecedent|consequent|         confidence|              lift|            support|
+--------------------+----------+-------------------+------------------+-------------------+
|[50, 2959, 593, 318]|    [2571]| 0.8354430379746836| 1.979707432399153|0.10837438423645321|
|[50, 2959, 593, 318]|     [296]| 0.9240506329113924| 1.960790367397345|0.11986863711001643|
|[50, 2959, 593, 318]|     [356]| 0.7974683544303798|1.5417721518987342|0.10344827586206896|
|[50, 2959, 593, 318]|     [858]|  0.810126582278481| 2.771725216896601|0.10509031198686371|
|[50, 2959, 593, 318]|    [2858]| 0.7974683544303798| 2.611065741118824|0.10344827586206896|
|  [1291, 4993, 1196]|    [7153]| 0.8985507246376812|3.1449275362318843|0.10180623973727422|
|  [1291, 4993, 1196]|     [260]| 0.9710144927536232|2.5271274619100708|0.11001642036124795|
|  [1291, 4993, 1196]|    [2571]| 0.9420289855072463| 2.232278802233125|0.10673234811165845|
|  [1291, 4993, 1196]|    [1210]| 0.9420289855072463|3.1010575793184487|0.10673234811165845|
|  [1291, 4993, 1196]|    [1198]| 0.9130434782608695|2.9112223992715682|0.10344827586206896|
|         [1270, 356]|    [2762]| 0.5483870967741935| 2.113719885667619| 0.1116584564860427|
|         [1270, 356]|    [1580]| 0.5725806451612904|2.5086446971455096|0.11658456486042693|
|         [1270, 356]|    [1213]|                0.5|2.4959016393442623|0.10180623973727422|
|         [1270, 356]|    [3578]| 0.5483870967741935|2.1827956989247306| 0.1116584564860427|
|         [1270, 356]|    [1197]| 0.5887096774193549|2.6557347670250895|0.11986863711001643|
|         [1270, 356]|    [1136]| 0.5080645161290323|2.4556451612903225|0.10344827586206896|
|         [1270, 356]|    [1036]| 0.5806451612903226|2.6389022628791525|0.11822660098522167|
|         [1270, 356]|    [2115]| 0.5241935483870968| 3.291070834718989|0.10673234811165845|
|         [1270, 356]|    [6377]|0.49193548387096775|2.2357366393837266|0.10016420361247948|
|         [1270, 356]|    [1265]| 0.6370967741935484|  2.91723259762309| 0.1297208538587849|
+--------------------+----------+-------------------+------------------+-------------------+
only showing top 20 rows

In [14]:
# Display Frequent Itemset and generated association rules.
showResult(m2)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+-----+----+
|items|freq|
+-----+----+
|[318]| 313|
|[356]| 315|
+-----+----+

+----------+----------+----------+----+-------+
|antecedent|consequent|confidence|lift|support|
+----------+----------+----------+----+-------+
+----------+----------+----------+----+-------+

In [15]:
# Display Frequent Itemset and generated association rules.
showResult(m3)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+---------------+----+
|          items|freq|
+---------------+----+
|         [7153]| 174|
|   [7153, 4993]| 155|
|         [2762]| 158|
|         [3578]| 153|
|          [589]| 210|
|     [589, 356]| 154|
|          [150]| 185|
|           [32]| 171|
|         [1196]| 199|
|    [1196, 260]| 176|
|   [1196, 2571]| 157|
|          [780]| 164|
|          [457]| 182|
|          [296]| 287|
|     [296, 318]| 209|
|[296, 318, 356]| 161|
|     [296, 356]| 207|
|          [260]| 234|
|    [260, 2571]| 161|
|           [47]| 191|
+---------------+----+
only showing top 20 rows

+----------+----------+-------------------+------------------+-------------------+
|antecedent|consequent|         confidence|              lift|            support|
+----------+----------+-------------------+------------------+-------------------+
|    [5952]|    [4993]| 0.8908045977011494|2.9644808743169397| 0.2545155993431856|
|      [50]|     [296]| 0.7868020304568528|1.6695555280425902| 0.2545155993431856|
|      [50]|     [318]| 0.7918781725888325|1.5407469875610191| 0.2561576354679803|
|[318, 356]|     [296]| 0.7285067873303167| 1.545855865798477|0.26436781609195403|
|    [1210]|    [1196]|  0.827027027027027|2.5309520575852233| 0.2512315270935961|
|    [1210]|     [260]| 0.8702702702702703| 2.264934164934165|0.26436781609195403|
|     [480]|     [356]| 0.8194444444444444| 1.584259259259259|0.29064039408866993|
|     [110]|     [296]| 0.7110091743119266|1.5087267845155516| 0.2545155993431856|
|     [110]|     [318]| 0.7110091743119266|1.3834012369200104| 0.2545155993431856|
|     [110]|     [356]| 0.7568807339449541| 1.463302752293578|  0.270935960591133|
|[296, 356]|     [318]| 0.7777777777777778| 1.513312034078807|0.26436781609195403|
|     [527]|     [318]| 0.7658536585365854|1.4901114314657522|0.25779967159277506|
|     [527]|     [356]| 0.7560975609756098|1.4617886178861788| 0.2545155993431856|
|    [7153]|    [4993]| 0.8908045977011494|2.9644808743169397| 0.2545155993431856|
|     [356]|     [589]| 0.4888888888888889|1.4177777777777776|0.25287356321839083|
|     [356]|     [296]| 0.6571428571428571| 1.394425087108014| 0.3399014778325123|
|     [356]|    [2571]| 0.5492063492063493|1.3014267185473414|0.28407224958949095|
|     [356]|     [480]| 0.5619047619047619|1.5842592592592593|0.29064039408866993|
|     [356]|     [527]|0.49206349206349204| 1.461788617886179| 0.2545155993431856|
|     [356]|     [318]| 0.7015873015873015|1.3650692225772096|0.36288998357963875|
+----------+----------+-------------------+------------------+-------------------+
only showing top 20 rows

### Best fpGrowthmodel is with hyperparameter minSupport=0.1, minConfidence=0.1

## 6. Deployment

You can test your model with new input

In [16]:
# Prepare the input test
test = spark.createDataFrame(
    [
     ("123", ["316"]),
     ("456", ["457"]),
     ("666", ["DOT", "231"])
    ],
    ["userId", "movies"]
)

test.show()

+------+----------+
|userId|    movies|
+------+----------+
|   123|     [316]|
|   456|     [457]|
|   666|[DOT, 231]|
+------+----------+

In [18]:
# Predict the input based on the model
result = m1.transform(test)
result.show()

+------+----------+--------------------+
|userId|    movies|          prediction|
+------+----------+--------------------+
|   123|     [316]|[150, 589, 780, 3...|
|   456|     [457]|[153, 587, 1214, ...|
|   666|[DOT, 231]|     [296, 318, 356]|
+------+----------+--------------------+

In [31]:
# Convert array of values into rows
result = result.select(result.userId, result.movies, explode(result.prediction).alias("prediction"))
result.show()

+------+------+----------+
|userId|movies|prediction|
+------+------+----------+
|   123| [316]|       150|
|   123| [316]|       589|
|   123| [316]|       780|
|   123| [316]|       377|
|   123| [316]|       457|
|   123| [316]|       296|
|   123| [316]|        47|
|   123| [316]|       165|
|   123| [316]|       480|
|   123| [316]|       592|
|   123| [316]|       318|
|   123| [316]|       588|
|   123| [316]|       590|
|   123| [316]|       593|
|   123| [316]|       364|
|   123| [316]|       110|
|   123| [316]|       380|
|   123| [316]|       356|
|   123| [316]|       329|
|   123| [316]|        10|
+------+------+----------+
only showing top 20 rows

In [25]:
# Save original dataframe into temporary table
movies.createOrReplaceTempView("movie")

In [26]:
# You can use Spark SQL Context to do query
# In this query, we want to select the StockCode and Description and save it into products table
spark.sql("SELECT DISTINCT movieId, title FROM movie").createOrReplaceTempView("products")

In [27]:
spark.sql("SELECT * FROM products").show()

+-------+--------------------+
|movieId|               title|
+-------+--------------------+
|     63|Don't Be a Menace...|
|    335|   Underneath (1995)|
|   1236|        Trust (1990)|
|   1324|Amityville: Dollh...|
|   2202|     Lifeboat (1944)|
|   2372| Fletch Lives (1989)|
|   2483|Day of the Beast,...|
|   2728|    Spartacus (1960)|
|   2871|  Deliverance (1972)|
|   2951|Fistful of Dollar...|
|   3598|       Hamlet (2000)|
|   3736|Ace in the Hole (...|
|   4015|Dude, Where's My ...|
|   4027|O Brother, Where ...|
|   4402|Dr. Goldfoot and ...|
|   4786|Legend of Hell Ho...|
|   4866|Last Castle, The ...|
|   4995|Beautiful Mind, A...|
|   5607|Son of the Bride ...|
|   5803|        I Spy (2002)|
+-------+--------------------+
only showing top 20 rows

In [33]:
# Create temporary table from result DataFrame
result.createOrReplaceTempView("result")

In [34]:
spark.sql("SELECT r.userId, r.movies, r.prediction, p.title  FROM result r INNER JOIN products p ON r.prediction = p.movieId ORDER BY r.userId").show()

+------+------+----------+--------------------+
|userId|movies|prediction|               title|
+------+------+----------+--------------------+
|   123| [316]|       150|    Apollo 13 (1995)|
|   123| [316]|       780|Independence Day ...|
|   123| [316]|       377|        Speed (1994)|
|   123| [316]|       589|Terminator 2: Jud...|
|   123| [316]|       296| Pulp Fiction (1994)|
|   123| [316]|        47|Seven (a.k.a. Se7...|
|   123| [316]|       165|Die Hard: With a ...|
|   123| [316]|       480|Jurassic Park (1993)|
|   123| [316]|       457|Fugitive, The (1993)|
|   123| [316]|       318|Shawshank Redempt...|
|   123| [316]|       588|      Aladdin (1992)|
|   123| [316]|       590|Dances with Wolve...|
|   123| [316]|       593|Silence of the La...|
|   123| [316]|       364|Lion King, The (1...|
|   123| [316]|       110|   Braveheart (1995)|
|   123| [316]|       380|    True Lies (1994)|
|   123| [316]|       356| Forrest Gump (1994)|
|   123| [316]|       329|Star Trek: Genera...|
|   123| [316]|        10|    GoldenEye (1995)|
|   123| [316]|       592|       Batman (1989)|
+------+------+----------+--------------------+
only showing top 20 rows